<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>capital.posley.tradfi-futu-pusher</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/posley3302_15/Library/Application Support/TradFiFutuRelay/run-macos.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/posley3302_15/Library/Application Support/TradFiFutuRelay</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/tmp/tradfi-futu-pusher.out.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/tradfi-futu-pusher.err.log</string>
</dict>
</plist>
